<%- include ("partials/header") %>
<body style="background-image : url('https://blog.sandiego.org/wp-content/uploads/2020/04/SDT_Zoom-Backgrounds_April-8_Windansea-1_1600x800.jpg') ; background-repeat: no-repeat;
background-size: 100%;" >
	<a href='/blogs'  class="ui huge violet basic button" >
	   Welcome to My Blog  <i class="hand point right icon"></i>
	</a>
	
	
</body>


